<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1>Liste des produits :</h1>
    <ul>
        {% for product in products %}
            <li>{{ product }}</li>
        {% endfor %}
    </ul>
    <h2>Résultat du dump du tableau :</h2>
    {{ dump(products) }}
</body>
</html>
